* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

img {
    /* max-width: 100%; */
}

/* common style */

.common-btn {
    background-color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* header {} */

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.logo {
    font-weight: bold;
    font-size: 32px;
}

.logo-r {
    color: #FD6E0A;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

/* Hero section style */
.hero-parent-root {
    background-color: #fd6f0a15;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom center;
}

/* hero section styles */
.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left h2 {
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 10px;
}

.hero-left-p-1 {
    font-weight: 600;
    font-size: 28px;
}

.hero-left-button-parent {
    margin-top: 10px;
}


/* about us css */
.about-parent {
    background-color: #fd6f0a15;
    margin: 70px auto;
    border-radius: 10px;
    padding: 75px;
    text-align: center;
}

.about-parent p {
    margin: 10px 0;
}

.about-box-parent {
    display: flex;
    justify-content: space-between;
}

.about-box-parent .box {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* what I do section css */

.what-i-do-parent {
    margin: 60px auto;
    text-align: center;
}

.what-i-do-card-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.what-i-do-card-container .what-i-do-card {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.057);
    padding: 50px 30px;
    text-align: left;
}

/* amazing work setion */
.my-amazing-parent {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    gap: 12px;
    grid-auto-rows: 250px;
    grid-template-areas:
        "one two three"
        "four two six"
        "four five six"
    ;
}

.gallery img {
    /* new learnt */
    height: 100%;
    width: 100%;
    /* new learnt */
    object-fit: cover;
}

.box-1 {
    grid-area: one;
}

.box-2 {
    grid-area: two;
}

.box-3 {
    grid-area: three;
}

.box-4 {
    grid-area: four;
}

.box-5 {
    grid-area: five;
}

.box-6 {
    grid-area: six;
}